# http://editorconfig.org
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# A list of all possible settings and their default values can be found here:
#   - https://github.com/CppCXY/EmmyLuaCodeStyle/blob/master/lua.template.editorconfig
# A documentation going into more details about these settings can be found here:
#   - https://github.com/CppCXY/EmmyLuaCodeStyle/blob/master/docs/format_config_EN.md

[*.lua]
indent_size = 4
# Continous assign statement do not work anymore.
# For more details see: https://github.com/LuaLS/lua-language-server/issues/2995
# Given the feedback there, these should be the correct settings:
align_continuous_assign_statement = true
align_continuous_line_space = 1
